fastapi
langchain
langchain-openai
langchain-core
langchain-community
supabase
python-dotenv
uvicorn
python-jose
bcrypt
jwt
psycopg2
pydantic[email]
email-validator
python-multipart
pypdf
matplotlib
langchain-groq
chromadb
langchain_text_splitters